<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguelangel.savenergy">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inicio"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio_Sesion"
            android:label="Inicia sesión"
            android:parentActivityName=".Inicio" />
        <activity
            android:name=".Registrarse"
            android:label="Registrate"
            android:parentActivityName=".Inicio" />
        <activity android:name=".Configuracion_f_corte" />
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Principal_admin_global" />
        <activity android:name=".Consumos" />
        <activity
            android:name=".Tarifas"
            android:label="@string/title_activity_tarifas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Configuracion_Perfil"
            android:label="Configura el Perfil"
            android:parentActivityName=".Menu_Configuraciones" />
        <activity
            android:name=".Menu_Configuraciones"
            android:label="Configurar"
            android:parentActivityName=".Principal" />
        <activity
            android:name=".SplashInicioActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cambiar_contrasenia"
            android:parentActivityName=".Menu_Configuraciones" />
        <activity android:name=".Cambiar_periodo_corte"
            android:parentActivityName=".Menu_Configuraciones">
        </activity>
        <activity android:name=".Energia_Generada"
            android:label="Energía Generada"
            android:parentActivityName=".Principal"/>
    </application>

</manifest>